body {
  width: 500px;
  background-color: #2D2424;
  color: #eee;
  margin: 0;
  padding: 15px;
  font-family: Arial, sans-serif;
}

.word-box {
  font-family: Garamond, serif;
  font-size: 52px;
  color: #fff;
  background:#000;
  margin-bottom: 10px;
  height: 180px;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  justify-content: flex-start;
  margin-left: 2px;
}

button {
  flex: .05;
  font-family: Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
}

button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.progress-control {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="range"] {
  flex: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #000;
  height: 5px;
  background-image: linear-gradient(#7DD3FC, #7DD3FC);
  background-size: 2% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 3.5px solid #000;
  border-radius: 0px;
  margin-top: -7px;
}

input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 3.5px solid #000;
  border-radius: 0px;
}

.settings {
  display: flex;
  justify-content: flex-end;
  gap: 2.5px;
  font-size: 14px;
  margin-top: 5px;
}

.settings > label {
  margin-top: 5px;
  margin-right: 3px;
  font-weight: bold;
}

input, select{
  background: #000;
  border: 0px;
  color: #eee;
  width: 10em;
  padding: 5px 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
