body {
  width: 500px;
  background-color: #1b202c;
  color: #eee;
  margin: 0;
  padding: 15px;
  font-family: Arial, sans-serif;
}

.word-box {
  font-family: Garamond, serif;
  font-size: 52px;
  color: #fff;
  background:#000;
  margin-bottom: 10px;
  height: 180px;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  justify-content: flex-start;
  margin-left: 2px;
}

button {
  flex: .05;
  font-size: 16px;
  letter-spacing: 2px;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
}

button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.settings {
  display: flex;
  justify-content: flex-end;
  gap: 2.5px;
  font-size: 14px;
  margin-top: 5px;
}

.settings > label {
  margin-top: 5px;
  margin-right: 3px;
  font-weight: bold;
}

input {
  background: #000;
  border: 0px;
  color: #eee;
  width: 40px;
  padding: 5px 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
